<div class="hero_body">
  
  

</div>





{% stylesheet %}
.hero_body{
background-color: {{section.settings.background}}
}
{% endstylesheet %}

{% schema %}
  {
    "name": "Fair Hero",
    "settings": [
		{
			"type": "color",
  			"id": "background",
  			"label": "bg color"
		}
	],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}


