<div class="hero_body row" style="background:{{section.settings.background }}">
  <div class="hero_row row">
    <div class="col-md-6 hero_col-left" style="background:{{section.settings.background_col }}">
      <div class="hero_col-left-text">
        <p class="hero_col-left-text-title">{{section.settings.hero-headline}}</p>
        <p class="hero_col-left-text-sub">{{section.settings.hero-subtitle}}</p>
      </div>
    </div>
    <div class="col-md-6">
    
    </div>
  </div>
</div>
a




{% stylesheet %}
	.hero_body{
		height:100vh;
	}
	.hero_col-left{
		height:100vh;
	}
	.hero_col-left-text{
		width:100%;
		margin-top:5%;
		margin-left:10%;
		margin-right: 10%;
	}
	.hero_col-left-text-title{
		font-size: 8rem;
	}
	.hero_col-left-text-sub{
		font-size: 2.5rem;
		width:55%;
	}
{% endstylesheet %}

{% schema %}
  {
    "name": "Fair Hero",
    "settings": [
		{
			"type": "color",
  			"id": "background",
  			"label": "bg color"
		},
		{
			"type": "color",
  			"id": "background_col",
  			"label": "bg color",
			"default": "#ffffff"
		},
		{
			"type": "text",
  			"id": "hero-headline",
  			"label": "Headline",
			"default": "FAIR <br>THEME"
		},
		{
			"type": "text",
  			"id": "hero-subtitle",
  			"label": "Headline",
			"default": "The modern theme that makes your brand shine"
		},
		{
  			"type": "font_picker",
  			"id": "heading_font",
  			"label": "Heading font",
  			"default": "prompt_n6"
		},
		{
  			"type": "font_picker",
  			"id": "subtitle_font",
  			"label": "Heading font",
  			"default": "prompt_n5"
		}
	],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}


