<div class="f-p_section">
  <div class="f-p_container row">
    <div class="col-md-8 f-p_image">
<img class="img-fluid f-p_image"src="{{ section.settings.product.featured_image | img_url: '900x900', crop: 'center'}}"/>
    </div>
    <div class="col-md-4 f-p_text">
      <p class="f-p_text-title">{{section.settings.product.title}}</p>
      <p class="f-p_text-description">{{section.settings.product.description}}</p>
      <div class="col-md-6"><p class="f-p_text-price">{{ section.settings.product.price | money }}</p></div>
      <div class="col-md-6">



      </div>
    </div>
  </div>
</div>

{% stylesheet %}
	.f-p_image img{
		width:100%;
	}
	.f-p_text-title{
		font-size:3rem;
		font-weight:900;
		padding-left:5%;
	}

{% endstylesheet %}

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
    		"type": "product",
    		"id": "product",
    		"label": "Choose featured product"
  		}
	],
	"presets": [
		{
			"name": "Fair Featured Product",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}
