<div class="hero_body">
  <!-- ============title hero============= -->
  <div class="hero_title-main">
  	<h1 class="hero_title">{{ section.settings.hero-title}}</h1>
  </div>
  <!-- ============image and boxes hero============= -->
  <div class="row hero_row-main">
    <div class="col-md-4 hero_row_boxes-main">
      <a>
      	<div>HOLA</div>
      </a>
    </div>
    
    <div class="col-md-8 hero_row_image-main">
    HOLA
    </div>
  </div>
  
  
  

  
  

</div>







{% stylesheet %}
	.hero_body{
		height:100vh;
		width:100vw;
		background-color:#fdf5df;
	}
	.hero_title-main{
		padding: 5% 10% 5% 10%;
	}
	.hero_title{
		font-size:5rem;
	}
	.row-main{
		background-color:red;
		height:50vh;
	}




{% endstylesheet %}

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
 			"type": "text",
     		"id": "hero-title",
      		"default": "Say what you feel with Fair",
      		"label": "Hero title"
		}
	],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
