<div class="f-p_section">
  <div class="f-p_container row">
    <div class="col-md-8 f-p_image">
<img class="img-fluid"src="{{ section.settings.product.featured_image | asset_url }}"/>
    </div>
    <div class="col-md-4">
      <h1>{{section.settings.product.title}}</h1>
    </div>
  </div>
</div>

{% stylesheet %}

{% endstylesheet %}

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
    		"type": "product",
    		"id": "product",
    		"label": "Choose featured product"
  		}
	],
	"presets": [
		{
			"name": "Fair Featured Product",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}



{% javascript %}
{% endjavascript %}
