<div class="hero_body" style="background:{{section.settings.background }}>
  
  

</div>





{% stylesheet %}
.hero_body{height:100vh;}
{% endstylesheet %}

{% schema %}
  {
    "name": "Fair Hero",
    "settings": [
		{
			"type": "color",
  			"id": "background",
  			"label": "bg color"
		}
	],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}


