<div class="hero_body">
	<p>HERE GOES HERE</p>

  
  

</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}

{% stylesheet %}
	.hero_body{
		height:100vh;
		width:100vw;
		background-color:#fdf5df;
	}




{% endstylesheet %}

{% javascript %}
{% endjavascript %}
