<div class="hero_body row" style="background:{{section.settings.background }}">
  <div class="hero_row row">
    <div class="col-md-6 hero_col-left" style="background:{{section.settings.background_col }}">
      <div class="hero_col-left-text">
        <p>THIS IS TEXT</p>
      </div>
    </div>
    <div class="col-md-6">
    
    </div>
  </div>
</div>





{% stylesheet %}
	.hero_body{
		height:100vh;
	}
	.hero_col-left{
		height:100vh;
	}
	.hero_col-left-text{
		text-align: center;
		width:100%;
		margin-top:35%;
	}
{% endstylesheet %}

{% schema %}
  {
    "name": "Fair Hero",
    "settings": [
		{
			"type": "color",
  			"id": "background",
  			"label": "bg color"
		},
		{
			"type": "color",
  			"id": "background_col",
  			"label": "bg color",
			"default": "#ffffff"
		}
	],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}


