<div class="hero_body">
  <!-- ============title hero============= -->
  <div class="hero_title-main">
  	<h1 class="hero_title">{{ section.settings.hero-title}}</h1>
  </div>
  <!-- ============image and boxes hero============= -->
  <div class="row hero_row-main">
    <div class="col-md-4 hero_row_boxes-main">
      <a>
      	<div class="hero_row-boxes-container">
          <div class="hero_boxes-box">
          		1
          </div>
          
          <div class="hero_boxes-box">
          		2
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-md-8 hero_row_image-main">
      <div class="hero_img-container">{{ section.settings.hero-image | img_url: 'master' | img_tag | class: 'hero-img'}}</div>
    </div>
  </div>
  
  
  
  
  a

</div>







{% stylesheet %}
	.hero_body{
		height:100vh;
		width:100vw;
		background-color:#fdf5df;
	}
	.hero_title-main{
		padding: 5% 10% 5% 10%;
	}
	.hero_title{
		font-size:5rem;
	}
	.hero_row-main{
		margin-top:8vh;
		padding-left:10%;
		padding-right:10%;
	}
	.hero_img-container{
		width:100%;
		text-align:center;
	}
	.hero_img-container img{
		max-width:70%;
		max-height:70%;
		border-radius:  0 30% 30% 30%;
	}
	.hero_row-boxes-main{
		background-color:red;
		height: 100%;
  		display: flex;
	}
    .hero_boxes-container{
	    align-items: flex-end;
	}




{% endstylesheet %}

{% schema %}
  {
    "name": "Fair Hero",
    "settings": [
		{
 			"type": "text",
     		"id": "hero-title",
      		"default": "Say what you feel with Fair",
      		"label": "Hero title"
		},
 		{
    		"type": "image_picker",
    		"id": "hero-image",
    		"label": "Hero Image"
  		}
	],
	"presets": [
		{
			"name": "Fair Hero",
			"category": "ADVANCED LAYOUT"
		}
	]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
